extends layout

block content


  // Work Row
    #description.w3-row-padding.w3-padding-64.w3-theme-l1
      .w3-whule
        h2
          font(face='Tahoma')
            center Description
        p
          font(face='Tahoma')
            | This Cleaning Service Company, intends to help the workload of househuld or any building cleaning operations. Making a thorough quality of work in every line of service it provides. Cleaning it as good as new,creating a vibrant relationship and Making any cleaned househuld or service area to have a hospitable vibe to each and every person it encounters.Hoping to satisfy the needs of every customer to be serviced.    .container.has-text-centered
     