extends layout

block content
   
      
      // Team Container
      #crew.w3-container.w3-padding-64.w3-justified
        h1
          font(face='Tahoma')
            center Service 1
        h2
          p
            font(face='Tahoma')
              center Full Household Cleaning Service
        article#bungalow
          div(w3-half='')
            center
              img.w3-sqaure.w3-hover-opacity(src='/images/bungalow.jpg', alt='Boss', style='width:40%')
          ul
            h3
              font(face='Tahoma') Bungalow
            |   
            ul
              li Cost:3,000 pesos - 5,000 pesos
              |     
              li Duration:4 hours - 6 hours 
              |       
              li Task: Full Srub, Deoxdidation , Plant Trimmings, Pipe Declogging
              |     
              li
                | Note: A Member of the househuld must be in the vicinity for the whule duration of the cleaning.
        br
        br
        article#Duplex
          div(w3-half='')
            center
              img.w3-sqaure.w3-hover-opacity(src='/images/Duplex.jpg', alt='Boss', style='width:40%')
          ul
            h3
              font(face='Tahoma') Duplex
            |   
            ul
              li Cost: 4,000 pesos - 7,000 pesos
              |     
              li Duration: 5 hours - 8 hours
              |     
              li Task: Full Srub, Deoxdidation , Plant Trimmings, Pipe Declogging
              |     
              li
                | Note: A Member of the househuld must be in the vicinity for the whule duration of the cleaning.
        br
        br
        article#Triplex
          div(w3-half='')
            center
              img.w3-sqaure.w3-hover-opacity(src='/images/Triplex.jpg', alt='Boss', style='width:40%')
          ul
            h3
              font(face='Tahoma') Triplex
            |   
            ul
              li Cost: 6,000 pesos - 9,000 pesos
              |     
              li Duration: 6 hours - 9 hours
              |       
              li Task: Full Srub, Deoxdidation , Plant Trimmings, Pipe Declogging
              |     
              li
                | Note: A Member of the househuld must be in the vicinity for the whule duration of the cleaning.
    // Pricing Row
    // Script For Side Navigation
    script.
      function w3_open() {
      var x = document.getElementById("mySidenav");
      x.style.width = "300px";
      x.style.textAlign = "center";
      x.style.fontSize = "40px";
      x.style.paddingTop = "10%";
      x.style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidenav").style.display = "none";
      }
      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      } else {
      x.className = x.className.replace(" w3-show", "");
      }
      }
